.section{
    height: 200px;
    width: 200px;
    margin: 0px auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: blanchedalmond;
}
.section img{
    width: 100%;
}
.footer{
    min-height: 300px;
}
.footer img{
    height: 100px;
}
.smi{
    list-style-type: none;
}
.smi li{
    display: inline-block;
    background-color: black;
    padding: 5px 10px;
    border-radius: 50%;
}
/* contcat us page*/
#contact{
    height: 350px;
    background-image: url('../images/contact.jpg');
    background-size: cover;
    background-position: center;
}
#contact .col-sm-12
{
    background-color: rgba(12, 10, 10, 0.529);
}
#contact .col-sm-12 h1
{
   line-height: 340px;
}
.text-justify{
    text-align: justify;
}
.mybtn:hover
{
   color: gold;
   font-weight: 500;
}
.mybtn i{
    transition: 0.5s ease;
}
.mybtn.mybtn:hover i{
    margin-left: 25px;
}
.welcome
{
    font-family: monotype corsiva;
    color: navy;
}
